<select name='priority' id="priorityselect<? echo $f['id']; ?>" onChange="ChangeValue('priority',this.value,'<? echo $f['id']; ?>','<? echo $section; ?>')">
	<option value='0' <? select('priority', ''); ?>>0</option>
	<option value='1' <? select('priority', '1'); ?>>1</option>
	<option value='2' <? select('priority', '2'); ?>>2</option>
	<option value='3' <? select('priority', '3'); ?>>3</option>
	<option value='4' <? select('priority', '4'); ?>>4</option>
	<option value='5' <? select('priority', '5'); ?>>5</option>
	<option value='6' <? select('priority', '6'); ?>>6</option>
	<option value='7' <? select('priority', '7'); ?>>7</option>
	<option value='8' <? select('priority', '8'); ?>>8</option>
	<option value='9' <? select('priority', '9'); ?>>9</option>
</select>
