<!-- footer -->
<tr>
	<td id="footer">
		<table>
			<tr>
				<td id="bottom-menu">
				
				<? generateTopNavigationMenu("1"); ?> <a href="/24/">Sitemap</a>



<!--LiveInternet counter--><script type="text/javascript"><!--
document.write("<a href='http://www.liveinternet.ru/click' "+
"target=_blank><img src='//counter.yadro.ru/hit?t25.6;r"+
escape(document.referrer)+((typeof(screen)=="undefined")?"":
";s"+screen.width+"*"+screen.height+"*"+(screen.colorDepth?
screen.colorDepth:screen.pixelDepth))+";u"+escape(document.URL)+
";"+Math.random()+
"' alt='' "+
" сегодня' "+
"border='0' width='1' height='1'><\/a>")
//--></script><!--/LiveInternet-->

<table>
<tr>
	<td align="left" width="25%">

<div><B>Document translation services</B>:

<ul>
<li><a href="/50/?document_type=27">Russian birth certificate translation</a></li> 
<li><a href="/50/?document_type=24">Russian marriage certificate translation</a></li>
<li><a href="/50/?document_type=7">Certified Russian diploma translation</a></li>
<li><a href="/50/?document_type=27">Ukrainian birth certificate translation</a></li>
<li><a href="/50/?document_type=28&document_name=High-School-Certificate&issued_in=0">Russian High School certificate translation</a></li>
<li><a href="/50/?document_type=31&document_name=Immunization-Record-Card&issued_in=0">Russian Immunization Record Card</a></li>	
</ul>

</div>	
	
	</td>
	<td width="25%">

<div><B>Other translation services</B>:

<ul>
<li><a href="/11/?windows-software-localization">Software localization</a></li> 
<li><a href="/11/?iphone-android">Android/iPhone localization</a></li> 
<li><a href="/46/">Russian transcription services</a></li> 
<li><a href="http://callyourgirl.com/services.html" target="_blank">Fiance Visa Assistance</a></li>
<li><a href="http://callyourgirl.com/services.html" target="_blank">Personal Phone translation</a></li> 
</ul>
	
</div>

	</td>
	<td width="25%">

<div><B>Voice translation services</B>:

<ul>
<li><a href="/14/?voiceover=Russian">Russian voice over services</a></li>
<li><a href="/14/?voiceover=Ukrainian">Ukrainian voice over services</a></li>
<li><a href="/17/">Ukrainian/Russian personal phone translation</a></li>
<li><a href="/71/#russian-interpreters-moscow">Russian Interpreting services Moscow</a></li>
<li><a href="/71/#russian-interpreters-moscow">Russian Interpreter Moscow</a></li>
<li><a href="http://dubb.1translate.com/en/" target="_blank">Voice Over Talents</a></li>
</ul>
	
</div>

	</td>
	<td>

<div><B>Russian Interpreting services</B>:
<ul>
	<li><a href="/72/">Trade fairs and expos in Russia</a></li>
	<li><a href="/71/#russian-interpreters-moscow">Russian Interpreter in Moscow</a></li> 
	<li><a href="/71/#russian-interpreters-saint-Petersburg">Russian Interpreter in Saint Petersburg</a></li> 
	<li><a href="/71/#russian-interpreters-kiev-odessa">Ukrainian Interpreter in Kiev, Odessa</a></li> 
	<li><a href="/71/#russian-interpreters-saratov-samara-volgograd">Russian Interpreter in Samara, Volgograd</a></li>
	<li><a href="http://interpretermoscow.com/en/">InterPreter Moscow</a></li>
</ul>
</div>


<!-- Google Analytics -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-114721-8', 'auto');
  ga('send', 'pageview');

</script>
<!-- /Google Analytics -->

<!-- Yandex.Metrika counter -->
<div style="display:none;"><script type="text/javascript">
(function(w, c) {
    (w[c] = w[c] || []).push(function() {
        try {
            w.yaCounter5973328 = new Ya.Metrika(5973328);
             yaCounter5973328.clickmap(true);
             yaCounter5973328.trackLinks(true);
        
        } catch(e) { }
    });
})(window, 'yandex_metrika_callbacks');
</script></div>
<script src="//mc.yandex.ru/metrika/watch.js" type="text/javascript" defer="defer"></script>
<noscript><div><img src="//mc.yandex.ru/watch/5973328" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->

	</td>
</tr>
</table>
				

				</td>
			</tr>

			<tr>
				<td id="copyright">
				
				<p>Copyright 2003 - <?=date('Y'); ?> &copy; <? echo $Settings['sitename']?>. All rights reserved.
				<BR>1translate.com and ifstudio-translations.com are subsidiaries of Atlantic Silicon Inc.
				<BR><BR>Powered by <a href="http://www.vitroff.com" target="_blank">Vitroff</a>,  an <a href="http://www.vitroff.com" target="_blank">online translation project management</a> and <a href='http://madcms.org'>madCMS</a> software
				</p>
				
				</td>
			</tr>

		</table>
	</td>
	
	</tr>
</table>
<!-- end footer -->
</body>
</html>