<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
	<title><?=$page['title']; ?></title>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">

	<meta name="Title"				content="<?=$page['title']; ?>">
	<meta name="Keywords"			content="<?=$page['keywords']; ?>">
	<meta name="Description"		content="<?=$page['description']; ?>">
	<meta name="Revisit-after"		content="7 days">
	<meta name="robots"				content="index,follow">
	<meta name="CMS"				content="www.madcms.org">

	<link rel="stylesheet"		href="/i/style.css"		type="text/css">

	<link rel="shortcut icon"	href="/i/favicon.ico"	type="image/x-icon">
	<link rel="icon"			href="/i/favicon.ico"	type="image/x-icon">

	<script type="text/javascript" src="/cart/protected/js/jquery-1.11.0.min.js"></script>
	<script type="text/javascript" src="/cart/protected/js/jquery.form.js"></script>
	<script type="text/javascript" src="/cart/protected/js/cart.js"></script>

	<script language=JavaScript src="/i/lib.js" type="text/javascript"></script>

</head>

<body id="<?=$template;?>" class="pageid<? echo $page['id']; ?>">

<table id="main" align="center">
	<tr>

	<? if (!isOrderPage()) { ?>

    <!-- header -->
		<td id="header">
			<table>
				<tr>
					<td id="description" colspan="2">Russian translation services, Ukrainian translation services and other Language translation services by 1translate.com agency</td>
				</tr>
				<tr>
					<td id="logo"><a href="<?=$siteurl;?>"><img src="/i/logo.gif" alt="1translate.com - Russian Translation Agency" title="1translate.com - Russian Translation Agency" width="294" height="48"></a></td>
					<td width="14%">
						<div id='cart'>
							<a href="/81/">
								<div id="cart-img"></div>							
								<div id="cart-text">
									Cart
									<div id="cart-sum">$<?php echo sprintf("%1.2f", getFullCost()); ?>
									</div>
								</div>
							</a>
						</div>
					</td>
					<!--<td width="32%">-->
					<td width="27%">

					<? if (!isOrderPage()) { ?>

					<div class="onliners">11 people (9 translators and  2 managers) <BR>
					are online right now at your service!
					<div style='margin-top: 10px;'>email: <b><a href='mailto:requests14@1translate.com?subject=translation quote request' style='color: white;'>requests14@1translate.com</a></b></div>
					</div>

					<? } ?>

					</td>
				</tr>
			</table>
		</td>
		<!-- end header -->
		
		<? } else { ?>

		<td style='height: 60px; padding: 15px 0 0'><a href="<?=$siteurl;?>">
			<img src='/i/logo-checkout.gif'  alt="1translate.com - Russian Translation Agency" title="1translate.com - Russian Translation Company" ></a>
			
			<span style='text-align: right; padding-left: 300px; color: white;'><a href="/" style='color: white;'>Home</a></span>
			<span style='text-align: right; padding-left: 20px; color: white;'><a href="/8/" style='color: white;'>Contacts</a></span>

			<span style='text-align: right; padding-left: 50px; color: white;'>Customer care: <a href="mailto:requests14@1translate.com?subject=Translation%20quote%20request" style='color: white;'>requests14@1translate.com</a></span>
			
			</td>

		<? } ?>



	</tr>
	
	<? if (!isOrderPage()) { ?>
	<tr>
	  <!-- top menu -->
    <td id="top-menu">
      <table>
      	<tr>
			<td class="sep"><a href="http://www.1translate.com/">Home</a></td>
			<? generateTopNavigationMenu("","<td class='sep'>","</td>"); ?>

      	</tr>
      </table>
		</td>
    <!-- end top menu -->
	</tr>
	<tr>
		<td id="container">

	<!-- 12.02.2008 END HEADER -->