	<table>
		<tr>
			<td id="left">

						<!-- price list -->
			<table>
			  <tr>
				<td class="left-headline">Document Translation Areas<br>and Prices</td>
							</tr>
				<tr>
					<td id="price">
				<table>
					<tr>
					  <td class="block-left"></td>
						<td class="price">
						  <table>
							<tr>
								<td class="thead c1">price in USD per</td>
								<td class="thead c2">word</td>
								<td class="thead">page</td>
							</tr>

<?=GenerateListOfSomeThing("rateshome"); ?>
						
						</table>
											</td>
					</tr>
					<tr>
					  <td></td>
					<td class="full"><a href="<?=SITEURL?>28/">view full price list ...</a></td>
										</tr>
					<tr>
					  <td></td>
					<td class="order"><a href="<?=SITEURL?>26/">get a quote for your translation now</a></td>
										</tr>
				</table>
								</td>
				</tr>
				<tr>
				<td class="left-bottom">&nbsp;</td>
							</tr>
			</table>
			<!-- end price list -->
			
			<!-- quotation -->
			<table>
			  <tr>
				<td height="11"></td>
							</tr>
			  <tr>
				<td class="left-headline">Translation Price Quotation</td>
							</tr>
				<tr>
					<td id="quotation">
				<table>
					<tr>
					  <td class="block-left"></td>
						<td class="quotation">
						  <table>
													<tr>
										  			<td class="text" colspan="3">For a free price quote please send your<br>document(s) by one of the following methods:</td>
													</tr>
							<tr>
							  <td class="line">
							<table>
								<tr>
									<td class="email"><span>Email:</span><br><a href="mailto:requests14@1translate.com?subject=Translation%20quote%20request">requests14@1translate.com</a></td>
											<td></td>
								</tr>
							</table>
														</td>
							</tr>
							<tr>
							  <td class="line">
							<table>
								<tr>
									<td class="phones">
																		<span>Call our managers:</span><br>
																		+1 (336) 694-55-39<br>
																		+7 (499) 501-654-1<br>
																		+38 (044) 591-90-25<br>
																		+43 (660) 4670830<br>
																		+34 65 479-41-54
																	</td>
										<td class="gray">
																		- United States<br>
																		- Russia<br>
																		- Ukraine<br>
																		- Austria<br>
																		- Spain
																	</td>
								</tr>
							</table>
														</td>
													</tr>
							<tr>
							  <td class="line">
							<table>
								<tr>
									<td class="fax">
																		<span>Fax it us:</span><br>
																		+1 914 801-47-35<br>
																		+44 705 3482799<br>
																		+7 499 501-654-1
																	</td>
										<td class="gray">
																		- North & South America<br>
																		- Europe, Africa & Asia<br>
																		- Australia & Japan
																	</td>
								</tr>
							</table>
														</td>
													</tr>
							<tr>
							<td class="address" colspan="2">
															<span>Send it us by regular or courier mail:</span><br>
															Galyna Karpenski<br>
															c/o 1translate.com company<br>
															PO Box 51, Yanceyville, NC 27379<br>
															USA
														</td>
													</tr>
						</table>
											</td>
					</tr>
				</table>
								</td>
				</tr>
				<tr>
				<td class="left-bottom">&nbsp;</td>
							</tr>
			</table>
			<!-- end quotation -->
			
					</td>
	  	<td id="content">

			<!-- our translation agency -->
						<table class="block">
				<tr>
					<td class="headline">
				<table>
					<tr>
						<td><h1>Our Translation Agency</h1></td>
						<td class="headline-right">Experience in translation business   -   7 years!</td>
					</tr>
				</table>
								</td>
				</tr>
				<tr>
					<td class="block-center ota">
				<table>
					<tr>
						<td>
<!-- Galyna Karpenski - your primary contact person at 1Translate.com translation
agency. She founded this company in 2001. In the last five years we've been gradually building our global network.

Today we have more than 50 professional translators working for us from different parts of the world. To achieve the 
highest quality of each translation, we developed a special system to manage the projects. We employ only the native
speakers to perform the translations.

The final proofreading is also done by native speakers. This guarantees that our
clients receive the exact equivalent of the original text in the target language. -->


<p style="font-size: 90%; padding: 5px 0;">Galyna Karpenski - your primary contact at 1Translate.com translation agency. 
She founded this company in 2001. In the last five years we've been gradually 
building our global network. </p>

<p style="font-size: 90%; padding: 5px 0;">Today we have more than 50 professional translators working for us from different
parts of the world. To achieve the highest quality for each translation, we have
developed a special system to manage our projects. We employ only native speakers
to perform our translations. 

The final proofreading is also done by native speakers. This guarantees that our
clients receive the exact equivalent of the original text in the target language.</p>

												<table>
								<tr>
									<!-- <td width="215" align="right"><img src="/i/label1.gif" alt="" width="183" height="42"></td>
									<td align="center"><img src="/i/label2.gif" alt="" width="93" height="91"></td> -->
									<td align="center" colspan="2"><img src="/i/ata-experience-paypal.gif" alt="" width="400" height="91"></td>

								</tr>
							</table>
											</td>
						<td id="person"><img src="/i/repson1.jpg" alt="" width="103" height="166"></td>
					</tr>
				</table>
								</td>
				</tr>
				<tr>
				<td class="content-bottom">&nbsp;</td>
				</tr>
			</table>
			<!-- end our translation agency -->
			
			<!-- brief facts & services -->
						<table class="block margin">
				<tr>
					<td class="headline">
				<table>
					<tr>
						<td><h1>Brief facts about our translation agency</h1></td>
						<td class="services"><h1>Translation services</h1></td>
					</tr>
				</table>
								</td>
				</tr>
				<tr>
					<td class="block-center">
				<table class="bfs">
					<tr>
						<td class="facts">
<ul>
	<li>Experience in translation business: 7 years</li>
	<li>The company was founded in 2001</li>
	<li>Worldwide offices: 4</li>
	<li>Interpreters employed: 50</li>
	<li>We speak 20 languages</li>
</ul>
											</td>
											<td class="services">
<ul>
	<?=GenerateListOfSomeThing("services"); ?>
</ul>
											</td>
					</tr>
				</table>
								</td>
				</tr>
				<tr>
				<td class="content-bottom">&nbsp;</td>
				</tr>
			</table>
			<!-- end brief facts & services -->
			
			<!-- customers -->
						<table class="block margin">
				<tr>
					<td class="headline"><h1>Among our customers are:</h1></td>
				</tr>
				<tr>
					<td class="block-center lables">
				<table>
					<tr>
						<td><img src="/i/customers-brands-home.gif" width="555" height="63"
						alt="Customers' brands: MACS, BluePalace, 20/20, Google, EIE, IUKB" 
						title="Customers brands: MACS, BluePalace, 20/20, Google, EIE, IUKB"></td>
					</tr>
				</table>
								</td>
				</tr>
				<tr>
				<td class="content-bottom">&nbsp;</td>
				</tr>
			</table>
			<!-- end customers -->
			
					</td>
		</tr>
	</table>
		</td>
	</tr>